<!-- <p>
    Select :
    <select (change)="selectedValue($event.target.value )">
        <option *ngFor="let item of time ">
            <span>{{item.name}}</span>
        </option>
    </select>
</p>
<hr>
<p>{{todayDate.name }}</p>
<p>{{ todayDate.timeZone | customeDate:'full' }}</p> -->

<select (change)="changeTimezone( )">
    <!-- <option [ngValue]="undefined" selected>Select TimeZone</option> -->
    <option *ngFor="let currentdate of dataOfZone" >
        {{currentdate.text}}
    </option>
</select>