<!-- <p-table  [value]="users">
    <ng-template pTemplate="header">
        <tr>
            <td>Code</td>
            <td>Data</td>
            <td>Meta</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" >
        <tr *ngFor ="let user of users" >
            <td>{{user.code}}</td>
            <td>{{user.data}}</td>
            <td>{{user.meta}}</td>
        </tr>

   
    </ng-template>
</p-table> -->
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td width=200>Code</td>
                <td width=200> Data</td>
                <td width=200>Meta</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.code}}</td>
                <td>{{user.data}}</td>
                <td>{{user.meta}}</td>
            </tr>
        </tbody>
    </table>
</div>